.footer {
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.footer-layout {
	display: flex;
	justify-content: space-between;
	padding: 0;
	align-items: stretch;
}

.footer-left {
padding: 20px 0;
}

.footer-right {
display: flex;
align-items: center;
}

@media screen and (min-width: 480px) {
	.trademark {
		font-size: 15px;
		line-height: 20px;
	}
	
	.footer {
	  padding: 25px 0;
	  margin-top: 30px;
	}
}

@media screen and (min-width: 640px) {
	.trademark {
	  font-size: 15px;
	  line-height: 20px;
  }

  .footer {
	  padding: 35px 0;
	  margin-top: 46px;
	}
}