.social {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 -2px;
}

.social > * {
  padding: 0 2px;
}

.social > li {
  list-style-type: none;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-footer {
  max-width: 177px;
  justify-content: space-between;
}

.icon-size-footer {
  height: 15px;
  width: auto;
}

.social-bg {
  width: 30px;
  height: 30px;
  background-color: #f1f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-bg:hover {
  background-color: #77c344;
}

@media screen and (min-width: 480px) {
  .icon-size-footer {
    height: 20px;
  }
  .social-bg {
    width: 40px;
    height: 40px;
  }
}